<!DOCTYPE html>
<html>
<html>

<head>
    <title>Veri Etiketleme Telegram</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
</head>

<body>
    <style>
        header {
          text-align: center;
        }
    
        header h1 {
          margin: 0; /* Optional: Remove default margin */
        }
      </style>
      <header>
        <br><h1>Telegram Veri Etiketleme</h1><br>
      </header>
    <input type="text" id="search-input" placeholder="Search for a keyword...">
    <button id="search-btn">Search</button>

    <table id="label-table-tlg" class="display" style="width:100%">
        <thead>
            <tr>
                {% for col in column_names %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in row_data %}
            <tr>
                {% for val in row %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="label-buttons" class="label-buttons">
        <a id="label1" class="tlglabelbutton">JUNK (J)</a>
        <a id="label2" class="tlglabelbutton">NORMAL TALK (T)</a>
        <a id="label3" class="tlglabelbutton">MANIPULTIVE (M)</a>
        <a id="label4" class="tlglabelbutton">Bu veriyi atla</a>
    </div>

    <script>
        var data = {{ row_data | tojson }};
        var labels1 = [];
        var labels2 = [];
        var dataIndex = 0;
        var table;
        var searchKeyword = '';
        var randomIndex = 0;
        var matchingRowsExist = false;
        var entry;
        var lastIndex = -1;

        $(document).ready(function () {
            table = $('#label-table-tlg').DataTable({
                "searching": false,
                "lengthChange": false,
                "info": false,
                "paging": false,
                "ordering": false
            });

            dataIndex = randomIndex;

            console.log("DataIndex: ", dataIndex);
            $('#label-table-tlg tbody tr').hide();
            $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').show();
            $('#label-buttons').css('margin-bottom', '20px');

            // Add event listeners to label buttons
            $('#label1').click(function () {
                $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').remove();
                entry = data.splice(dataIndex, 1)[0];
                labels1.push(entry);
                applyLabels();
            });
            $('#label2').click(function () {
                $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').remove();
                entry = data.splice(dataIndex, 1)[0];
                labels2.push(entry);
                applyLabels();
            });
            $('#label3').click(function () {
                $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').remove();
                entry = data.splice(dataIndex, 1)[0];
                labels3.push(entry);
                applyLabels();
            });
            $('#label4').click(function () {
                applyLabels();
            });

            $('#search-btn').click(function () {
                searchKeyword = $('#search-input').val().trim().toLowerCase();
                applyLabels();
            });
        });

        function applyLabels() {
            console.log("applylabel start DataIndex: ", dataIndex);
            console.log("Data list: ", data);
            console.log("Labels1 list: ", labels1);
            console.log("Labels2 list: ", labels2);

            randomIndex = Math.floor(Math.random() * data.length);

            console.log("Random Index: ", randomIndex); // Output a random entry from the data list

            if (data.length === 0) {
                alert("No more matching entries.");
                return;
            }

            if (searchKeyword === '') {
                dataIndex = randomIndex;
            }

            searchKeyword = $('#search-input').val().trim().toLowerCase();

            matchingRowsExist = false;

            if (searchKeyword === '') {
                $('#label-table-tlg tbody tr').hide();
                $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').show();
                matchingRowsExist = true;
            } else {
                while (dataIndex < data.length && dataIndex > -1) {
                    console.log("DataIndex in while: ", dataIndex);
                    var rowVals = Object.values(data[dataIndex]).map(val => val.toString().toLowerCase());
                    if (rowVals.some(val => val.includes(searchKeyword))) {
                        $('#label-table-tlg tbody tr').hide();
                        $('#label-table-tlg tbody tr:eq(' + dataIndex + ')').show();
                        matchingRowsExist = true;
                        lastIndex = dataIndex;
                        break;
                    }
                    dataIndex++;
                }
            }

            if (searchKeyword !== '' && !matchingRowsExist) {
                alert("No matching entries.");
            }

            if (dataIndex === data.length) {
                dataIndex = 0;
            } else if (lastIndex !== -1 && dataIndex === lastIndex) {
                dataIndex++;
            }

            console.log("applylabel end DataIndex: ", dataIndex);
            console.log("applylabel end randomIndex: ", randomIndex);
        }
    </script>

</body>

</html>
